/* main section */

@font-face {
    font-family: Quicksand;
    src: url(../fonts/Quicksand/Quicksand-VariableFont_wght.ttf);
}

* {
    color: inherit;
    font-family: inherit;
}

body {
    font-family: Quicksand;
    height: 100vh;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #232323;
    color: white;
    gap: 40px;
}

    /* width */
::-webkit-scrollbar {
    width: 10px;
}

    /* Track */
::-webkit-scrollbar-track {
    background: #333333;
}

    /* Handle */
::-webkit-scrollbar-thumb {
    background: rgb(96, 96, 96);
}

    /* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: rgb(112, 112, 112);
}

/* User input section */

.user-input {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    justify-content: center;
    width: 100%;
    transition: 0.3s;
}

.input {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.input > label {
    font-size: 40px;
}

.location-input, .unit-select {
    text-align: center;
    border-radius: 30px;
    outline: none;
    border: none;
    background-color: #4f4f4f;
}

.location-input {
    font-size: 27px;
    height: 50px;
    width: 270px;
    padding: 10px;
}

.unit-select {
    height: 40px;
    width: 150px;
    font-size: 20px;
}

.submit-button-weather {
    width: 90px;
    height: 40px;
    background-color: #4f4f4f;
    border: none;
    border-radius: 20px;
}


/* Weather-data tables section*/

.weather-tables {
    display: flex;
    width: 100%;
    height: fit-content;    
    overflow-x: auto;
}

.date-table-container {
    display: flex;
    flex-shrink: 0;
    height: 430px;
    width: 460px;
    flex-direction: column;
    color: white;
}

.date-table-container > table {
    height: 100%;
    width: 100%;
    background-color: rgb(38 42 88);
    border-spacing: 0;
}

.date-header {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(53 60 113 / 80%);
    height: 40px;
    width: 100%;
}

.date-table-container > table > tbody > tr:nth-child(2n){
    background-color: rgb(38 32 88);
}

.date-table-container > table > tbody > tr > th:first-child{
    padding-left: 15px;
}

.date-table-container > table > tbody > tr > td {
    padding: 0;
    text-align: center;
}

.date-table-container > table > tbody > tr > td:first-child {
    padding-left: 15px;
}

.date-table-container > table > tbody > tr > td:last-child {
    padding-right: 15px;
}


