/* main section */

@font-face {
    font-family: Quicksand;
    src: url(../fonts/Quicksand/Quicksand-VariableFont_wght.ttf);
}

* {
    color: inherit;
    font-family: inherit;
}

body {
    font-family: Quicksand;
    min-height: 100vh;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #232323;
    color: white;
    gap: 40px;
}

    /* width */
::-webkit-scrollbar {
    width: 10px;
}

    /* Track */
::-webkit-scrollbar-track {
    background: #333333;
}

    /* Handle */
::-webkit-scrollbar-thumb {
    background: rgb(96, 96, 96);
}

    /* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: rgb(112, 112, 112);
}

button {
    -webkit-appearance: none;
    appearance: none;
    background-color: transparent;
    border: none;
}


/* User input section */

.user-input {
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: center;
    width: 100%;
    transition: 0.3s;
    flex-wrap: wrap;
}

.group-input {
    width: 284px;
    height: 269px;
    border: 2px solid black;
    border-radius: 8px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 12px;
    background-color: #1f1f1f;
}

.input {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.input > label {
    font-size: 30px;
}

.location-input, .unit-select {
    text-align: center;
    border-radius: 30px;
    outline: none;
    border: none;
    background-color: #4f4f4f;
}

.location-input {
    font-size: 23px;
    height: 35px;
    width: 240px;
    padding: 10px;
}

.unit-select {
    height: 30px;
    width: 180px;
    font-size: 18px;
}

.checkbox-input {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.checkbox-input > .caption {
    font-size: 30px;
}

.checkboxes {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.checkbox {
    display: flex;
    align-items: center;
    gap: 5px;
}

.weather-data-checkbox {
    appearance: none;
    -webkit-animation: none;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: white;
    border: 2px solid #4e4879;
    transition: 0.3s;
}

.weather-data-checkbox[checked]::before {
    position: relative;
    left: 25%;
    content: '🗸';
}

.weather-data-checkbox[checked] {
    background-color: #262a58;
}

.weather-data-checkbox:hover {
    opacity: 0.3;
    background-color: #262a58;
}

.checkbox > .label{
    font-size: 20px;
}

.submit-button-weather {
    width: 90px;
    height: 40px;
    background-color: #4f4f4f;
    border: none;
    border-radius: 20px;
    transition: 0.3s;
}

.submit-button-weather:hover {
    transform: scale(0.95);
}


/* Weather-data tables section*/

.top-section {
    transition: 0.3s;
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;
   /* transform: translateY(50%); */
}

.bottom-section {
    transition: 0.3s;
    width: 100%;
    display: flex;
    align-items: center;
    overflow: auto;

   /* transform: translateY(500px); */
}

.weather-tables {
    display: flex;
    flex-direction: column;
    height: fit-content;    
    margin: 0 auto;
    gap: 8px;
}

.tables {
    overflow: hidden;
    display: flex;
    height: fit-content;    
    border-radius: 10px;
    flex-shrink: 0;
}

.tables-with-side-nav {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.side-nav {
    width: 70px;
}

.side-nav-arrow {
    transition: 0.4s;
}

.side-nav-arrow:hover {
    transform: scale(0.93);
}

.not-accessible {
    opacity: 0.3;
    pointer-events: none;
}

.tables-bottom-nav {
    margin: 0 auto;
    display: flex;
    height: 30px;
    width: 320px;
    justify-content: space-around;
}

.table-bottom-nav {
    width: 15px;
    height: 15px;
    background-color: black;
    border: 2px solid white;
    border-radius: 50%;
    transition: 0.3s;
}

.table-bottom-nav:hover {
    background-color: #2b2d42;
    transform: scale(0.95);
}

.table-bottom-nav.currently-displayed {
    background-color: rgb(38 42 88);
}

.roll-up {
    transform: translateY(0px);
}

.date-table-container {
    display: none;
    flex-shrink: 0;
    height: 430px;
    flex-direction: column;
    color: white;
}

.date-table-container.currently-displayed {
    display: flex !important;
}

.date-table-container > table {
    height: 100%;
    width: 100%;
    background-color: rgb(38 42 88);
    border-spacing: 0;
}

.date-header {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(53 60 113 / 80%);
    height: 40px;
    width: 100%;
}

.date-table-container > table > tbody > tr:nth-child(2n){
    background-color: rgb(38 32 88);
}

.date-table-container > table > tbody > tr > th:first-child{
    padding-left: 15px;
}

.date-table-container > table > tbody > tr > td {
    padding: 0 5px;
    text-align: center;
}

.date-table-container > table > tbody > tr > th {
    padding: 5px;
}

.date-table-container > table > tbody > tr > td:first-child {
    padding-left: 15px;
}

.date-table-container > table > tbody > tr > td:last-child {
    padding-right: 15px;
}

